$base-color: #f64e8f;
$include-pictos-font: false;
$include-default-icons: false;
$include-highlights: false;
$base-gradient: none;
$basic-slider: true;
$body-bg-color: #fff;
$list-active-color: #54c2c2;
$list-pressed-color: #42c2c1;
$loading-spinner-color: #f64e8f;

// exclude components that app is not using
@import 'sencha-touch/default';
@import 'sencha-touch/default/src/tab/Panel';


// Custom code goes here..

//@font-face {
//  font-family: 'Kranky', cursive;
//  src: url('../css/Kranky.ttf') format('truetype');}
 
//$font-family: 'Kranky', sans-serif !default;

h3 {color: #8dd2d1 !important;} 
h4 {color: #ccc !important;} 

.x-tabbar.x-docked-bottom .x-tab .x-button-icon {
margin: 8px auto 0 auto !important;
}

.x-img.x-img-background {
background-position: bottom;
background-size: auto;
}

.x-toolbar {
  height: 60px !important; 
  padding-top: 10px !important;
  
}

.x-toolbar.x-docked-top {
border-bottom: 0px solid !important;
background-color: #f64e8f;
color: #fff;
}

#gebarencarousel, .gebarendetail {
      background: url('../images/achtergrond.png')!important;
//      background-size: 100% !important;
      background-repeat:no-repeat !important;
      background-color: #7bcdca !important; // important moet erbij
    }

.gebarenlijst {
  background-color: #8fd3d1 !important;
  color: #fff !important;
    }
    

.x-list .x-list-disclosure {
display: none !important;
}


.x-list .x-list-item.x-item-pressed, .x-list .x-list-item.x-item-selected.x-list-item-tpl {
background-color: #43c2c2 !important;
}

.x-list .x-list-item {
color: #FFF !important;
text-transform: uppercase !important;
float: left;
padding: 0 !important;
margin: 20px 0;
text-align: center !important;
width: 192px;
}

.x-tab .x-button-icon.sound:before, .x-button .x-button-icon.sound:before {
position: relative !important;
}

.tekstscreen {
      background-color: #ffffff !important;
      padding: 0.5em  !important;  
    }

.audioButton
{
 background-image: url('../images/sound-button-back.png')!important;
 background-repeat: no-repeat;
// padding: 3px 0 3px 60px!important;
 margin: 0 auto !important;
 width: 230px;
 height: 59px;
// border-color: #fff !important;
 color: #fff !important;
 background-color: transparent !important;
 text-transform:uppercase !important; 
 border: 0 !important;
 webkit-box-align: center;
}

.x-button {
  display: none !important;
  }

//.x-button-label {
//  font-family: 'Kranky' !important;
//  font-weight: 400;}  

.x-button-back  {
   background-image: url('../images/arrow-left-small.png')!important;
   background-repeat: no-repeat;
   background-position: 10px 10px; 
   background-color: #f64e8f !important;
   width: 300px !important;
   height: 50px !important; 
   padding: 0 50px 0 100px !important;
   border: 0 !important;
   margin-left: 100px !important;
}

video {
    background-color: #7bcdca !important; // important moet erbij
    width: 768px !important;
   height: 432px !important;
    overflow: hidden !important;
}

.x-video {
background-color: #7bcdca !important;
}

.x-video-ghost {
background: #7bcdca url() center center no-repeat;
}


*, *:after, *:before {
-webkit-tap-highlight-color: rgba(123, 205, 202, 1) !important;
}

.fade-in {-webkit-animation: fadein 2s; margin-top:20px;}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.sun-animation {-webkit-animation: sunanimation 2s;}
@-webkit-keyframes sunanimation {
    from {margin-top:600px; margin-bottom:600px }
    to   {margin-top:0px; margin-bottom:0px}
}

.swipe-animation {-webkit-animation: swipeanimation 1s steps(30) 4 alternate; width: 678px; height: 512px;}
@-webkit-keyframes swipeanimation {
  -webkit-animation-timing-function: linear;
   0% {padding-left:0px;}
   100% {padding-left:70px;}
}
   
#hometekst {position: fixed; bottom: 200px; left: 120px;}   
    

.x-tabbar-dark {
    border-top-color: #f64e8f !important;
    border-bottom-color: #f64e8f !important;
    background-image: none !important;
    background-color: #f64e8f !important;
}

// Examples of using the icon mixin:
// @include icon('user');

@include icon-font('icomoon', inline-font-files(
  'icomoon/icomoon.eot', eot,
  'icomoon/icomoon.woff', woff,
  'icomoon/icomoon.ttf', truetype,
  'icomoon/icomoon.svg', svg
));
 
@include icon("home"  , "\e600", "icomoon");
@include icon("star"  , "\e605", "icomoon");
@include icon("search", "\e602", "icomoon");
@include icon("info"  , "\e606", "icomoon");
