$base-color: #f64e8f;
$include-pictos-font: false;
$include-default-icons: false;
$include-highlights: false;
$base-gradient: none;
$basic-slider: true;
$body-bg-color: #fff;
$list-active-color: #54c2c2;
$list-pressed-color: #42c2c1;
$loading-spinner-color: #f64e8f;

// exclude components that app is not using
@import 'sencha-touch/default';
@import 'sencha-touch/default/src/tab/Panel';


//@font-face {
//  font-family: 'Kranky', cursive;
//  src: url('../css/Kranky.ttf') format('truetype');}
 
//$font-family: 'Kranky', sans-serif !default;


//-------------------------------------------- LIST -------------------------------------------

.gebarenlijst {
  background-color: #8fd3d1 !important;
  color: #fff !important;
}

.x-list .x-list-item img {padding: 20px 0 !important;}

.x-list .x-list-item.x-item-pressed, .x-list .x-list-item.x-item-selected.x-list-item-tpl {
  background-color: #43c2c2 !important;
  border-radius: 10px;
}

.x-list .x-list-item {
  color: #FFF !important;
  font-weight: 300 !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
  float: left;
  display: block;
  margin: 20px 15px;
  text-align: center !important;
  width: 150px;
}

//-------------------------------------------- SIMPLE TEKST PAGEES -------------------------------

.tekstscreen {
  background-color: #ffffff !important;
  padding: 0.5em  !important;  
}

h3 {color: #8dd2d1 !important;} 
h4 {color: #ccc !important;} 

#hometekst {position: fixed; bottom: 200px; left: 120px;} 

//-------------------------------------------- BUTTONS -------------------------------------------

.audioButton
{
 background-image: url('../images/sound-button-back.png')!important;
 background-repeat: no-repeat;
// padding: 3px 0 3px 60px!important;
 margin: 0 auto !important;
 width: 230px;
 height: 59px;
// border-color: #fff !important;
 color: #fff !important;
 background-color: transparent !important;
 text-transform:uppercase !important; 
 border: 0 !important;
 webkit-box-align: center;
}


.x-button-label {
  color: #fff !important;
  font-weight: 300 !important;
  letter-spacing: 2px !important;
}

.backButton  {
   background-image: url('../images/arrow-left-small.png')!important;
   background-repeat: no-repeat;
   background-position: 10px 40px; 
   background-color: #54c3c1 !important;
   width: 150px !important;
   height: 70px !important; 
   padding: 35px 5px 0 55px !important;
   border: 0 !important;
   margin: -15px auto -10px auto !important;
   border-radius: 10px;  
}

.play-video-button {
  display: block !important;
  height: 432px;
  background-image: url('../images/play-video.png');
  background-repeat: no-repeat;
  background-position: center 50px; 

//  background-color: #666 !important

}
.test {margin: 0;}

//-------------------------------------------- VIDEO -------------------------------------------

video {
//  background-color: #7bcdca !important; // important moet erbij
  width: 768px !important;
  height: 432px !important;
  overflow: hidden !important;
-webkit-animation: fadein 2s !important;


}

.basvideo:after {

}

.x-video>* {
  
//-webkit-animation: fadein 1s !important;
}

.x-button {
// display: none !important
}

.x-video-ghost {
//background: none !important;
//background: url('../images/play-video.png') center center no-repeat !important;
//-webkit-animation: fadein 2s 1s !important;
}

.x-layout-card-item {
 background: none;
}


.x-video {
  background: none !important;
//  -webkit-animation: fadein 4s !important;
}


*, *:after, *:before {
 -webkit-tap-highlight-color: rgba(123, 205, 202, 1) !important;
}


//-------------------------------------------- ANIMATION -------------------------------------------


.fade-in {-webkit-animation: fadein .3s;}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.sun-animation {-webkit-animation: sunanimation 2s;}
@-webkit-keyframes sunanimation {
    from {margin-top:600px; margin-bottom:600px }
    to   {margin-top:0px; margin-bottom:0px}
}

.swipe-animation {-webkit-animation: swipeanimation 1s steps(30) 4 alternate; width: 678px; height: 512px;}
@-webkit-keyframes swipeanimation {
  -webkit-animation-timing-function: linear;
   0% {padding-left:0px;}
   100% {padding-left:70px;}
}

//-------------------------------------------- Tool bar bottom -------------------------------------------   

.x-tabbar.x-docked-bottom .x-tab .x-button-icon {
  margin: 8px auto 0 auto !important;
}

.x-img.x-img-background {
  background-position: bottom;
  background-size: auto;
}

.x-tabbar-dark {
  border-top-color: #f64e8f !important; 
  border-bottom-color: #f64e8f !important; 
  background-image: #f64e8f !important; 
  background-color: #f64e8f !important;
}




#gebarencarousel, .gebarendetail {
  background: url('../images/background.png')!important;
  background-size: 100% !important;
  background-repeat:no-repeat !important;
//  background-color: #7bcdca !important; // important moet erbij


}



  

//-------------------------------------------- NAVIGATION ICONS -------------------------------------------

@include icon-font('icomoon', inline-font-files(
  'icomoon/icomoon.eot', eot,
  'icomoon/icomoon.woff', woff,
  'icomoon/icomoon.ttf', truetype,
  'icomoon/icomoon.svg', svg
));
 
@include icon("home"  , "\e600", "icomoon");
@include icon("star"  , "\e605", "icomoon");
@include icon("search", "\e602", "icomoon");
@include icon("info"  , "\e606", "icomoon");



