/**
 * @class Ext.Media
 */

.x-video {
    height: 100%;
    width: 100%;
    background-color: #f64e8f;
}

.x-video > * {
    height: 100%;
    width: 100%;
    position: absolute;
}

.x-video-ghost {
    -webkit-background-size: 100% auto;
//    background: #f64e8f url() center center no-repeat;
}

audio {
	width: 100%;
}